body {
  background: #dcf5ff;
  margin: 0;
  height: 100vh;
  display: grid;
  justify-items: center;
  align-items: center;
  font-family: "Nunito", "sans-serif";
}

.container {
  width: 30%;
  border-radius: 10px;
  background: white;
  .inner {
    background: rgb(9, 201, 153);
    padding: 1em;
    border-radius: 10px;
    width: calc(100% - 2em);
    clip-path: inset(0% 0% 0% 100%);
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    h1 {
      color: white;
      margin: 0;
    }

    p {
      color: white;
      font-size: 0.8rem;
    }
    span {
      float: right;
      color: white;
      font-weight: bold;
      transition: color 0.5s;
      position: relative;
      margin-right: 4%;
    }
    &:hover span {
      color: rgba(255, 255, 255, 0);
    }
  }
  &:hover .inner {
    clip-path: inset(0% 0% 0% 0%);
    background: #00b6ff;
  }
}
